<h1><%= @board.name %> - <%= @list.name %></h1>
<ul>
<% @list.tasks.each do |task| %>
  <li>
    <%= task.name %>
    <%= link_to 'Delete Task', list_task_path(@list, task), method: :delete %>
  </li>
<% end %>
</ul>

<%= link_to 'Edit List', edit_board_list_path(@board, @list) %>
<%= link_to 'New Task', new_list_task_path(@list) %>
<%= link_to 'Back To Board', board_path(@board) %>