<% if @board.errors.any? %>
  <div class="ui message red">
    <div class="header">
      Error
    </div>
    <ul class="list">
      <% @board.errors.each do |error, message| %>
        <li><%= error %>: <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @board do |f| %>
  <div class="ui right pointing label">
    Name
  </div>
  <div class="ui input focus">
    <%= f.text_field :name, required: true %>
  </div>
  <br>
  <br>
  <%= f.submit class: 'ui button primary' %>
<% end %>