<!DOCTYPE html>
<html>
  <head>
    <title>Trollo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
  </head>

  <body class="app-wide">
    <div class="ui container">
      <%= render partial: 'layouts/navbar'%>
      <%= yield %>
    </div>
  </body>
</html>
